@media only screen and (min-width : 374px) and (max-width : 736px)
{
    .flex{
        display: block;
    }
    .Block{
        width: 100%;
        .content{
            width: 100%;
        }
        .list {
            width: 100%;
            .btn_process{
                display: inline-flex;
                padding: 22px 13px;
            }
        }
    }
    #txtHeading3{
        font-size: 14px;
    }
}





